<html>
  <body>
    <div class="wrapper">
      <h1>Hi <%= user.firstName %> <%= user.lastName %></h1>
      <p>&nbsp;</p>
      <p>You now have permission to work with app <b><%= app.name %></b></p>
      <p><a class="btn" href="<%= url %>/apps/<%= app.name %>">Open</a></p>
      <p>&nbsp;</p>
      <p>Cheers,</p>
      <p>Dokku UI Team</p>
    </div>
  </body>
</html>